<li class="list-group-item" [class.selected]="entity.id === selectedId">
  <h4>
    <a
      [title]="entity.title"
      [textContent]="entity.title"
      [routerLink]="['/posts', entity.id]"
      routerLinkActive="router-link-act ive"
    ></a>
  </h4>
  <picture>
    <img [src]="entity.image" [alt]="entity.title" class="image-fluid" />
  </picture>
  <p *ngIf="entity.body">{{ entity.body }}</p>
  <p>
    <button class="btn btn-success mr-3" (click)="addToList(entity)">
      Add To List
    </button>
    <button class="btn btn-outline-secondary" (click)="onClick(entity)">
      remove
    </button>
  </p>
</li>
